<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.backseatdrivers">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGEEXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.BackseatDrivers"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:label="@string/edit_profile_text"/>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDs-daOsE2KMdF7dak-i7Utr5_RrO21Osc" />

        <activity
            android:name=".ui.rides.RideView"
            android:exported="true"
            android:label="@string/title_activity_ride_view" />
        <activity
            android:name=".ui.rides.CreateRideActivity"
            android:exported="false"
            android:label="@string/title_activity_create_ride" />
        <activity
            android:name=".auth.VerifySignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.chat.NewMessageActivity"
            tools:ignore="WrongManifestParent">
        </activity>
        <activity
            android:name=".ui.chat.ChatLogActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>