<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.backseatdrivers">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGEEXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackseatDrivers"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.home.PassengerRideViewActivity"
            android:exported="false"
            android:label="@string/title_activity_passenger_ride_view" />
        <activity
            android:name=".ui.home.DriverRideViewActivity"
            android:exported="false"
            android:label="@string/title_activity_driver_ride_view" />
        <activity
            android:name=".ui.profile.myrequests.MyRequestsActivity"
            android:exported="false"
            android:label="@string/title_activity_my_requests" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:label="@string/edit_profile_text" />
        <activity
            android:name=".ui.rides.RideView"
            android:exported="true"
            android:label="@string/title_activity_ride_view" />
        <activity
            android:name=".ui.rides.CreateRideActivity"
            android:exported="false"
            android:label="@string/title_activity_create_ride" />
        <activity
            android:name=".auth.VerifySignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="true" />
    </application>

</manifest>